Repository voznik/ngx-odm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: proper dist folder for npm release pipeline
  .github/workflows/nx-release.yaml
  .github/workflows/release.yaml
  nx.json
  package-lock.json
  package.json
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

release(ngx-odm/rxdb): new version 5.2.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

feat: introduce decorators to simplify collection methods checks
  packages/rxdb/collection/src/lib/rxdb-collection.helpers.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

chore: rename files to no prefix
  packages/rxdb/collection/src/index.ts
  packages/rxdb/collection/src/lib/collection.module.ts
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/collection/src/lib/helpers.spec.ts
  packages/rxdb/collection/src/lib/helpers.ts
  packages/rxdb/config/src/index.ts
  packages/rxdb/config/src/lib/config.spec.ts
  packages/rxdb/config/src/lib/config.ts
  packages/rxdb/core/src/index.ts
  packages/rxdb/core/src/lib/plugin.loader.ts
  packages/rxdb/core/src/lib/prepare.plugin.spec.ts
  packages/rxdb/core/src/lib/prepare.plugin.ts
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/core/src/lib/service.ts
  packages/rxdb/sequence.puml
  packages/rxdb/src/lib/rxdb.module.spec.ts
Due: eslint --fix

feat: introduce decorators to simplify collection methods checks
  packages/rxdb/collection/src/index.ts
  packages/rxdb/collection/src/lib/collection.module.ts
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/collection/src/lib/helpers.spec.ts
  packages/rxdb/collection/src/lib/helpers.ts
  packages/rxdb/config/src/index.ts
  packages/rxdb/config/src/lib/config.spec.ts
  packages/rxdb/config/src/lib/config.ts
  packages/rxdb/core/src/index.ts
  packages/rxdb/core/src/lib/plugin.loader.ts
  packages/rxdb/core/src/lib/prepare.plugin.spec.ts
  packages/rxdb/core/src/lib/prepare.plugin.ts
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/core/src/lib/service.ts
  packages/rxdb/sequence.puml
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

release(ngx-odm/rxdb): new version 5.3.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

refactor: separate logic to custom effects, fix example
  packages/streamlit-rxdb-dataframe/example.py
  packages/streamlit-rxdb-dataframe/frontend/build/package.json.old
  packages/streamlit-rxdb-dataframe/frontend/src/assets/.gitkeep
  packages/streamlit-rxdb-dataframe/frontend/src/lib/RxDBDataframe.tsx
  packages/streamlit-rxdb-dataframe/frontend/src/lib/RxDBDataframeArgs.ts
  packages/streamlit-rxdb-dataframe/frontend/src/lib/useEditingState.ts
  packages/streamlit-rxdb-dataframe/frontend/src/lib/useNullableRenderData.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/__init__.py
Due: eslint --fix

fix: react lint warnings, build
  examples/demo/src/app/todos/todos.module.ts
  examples/demo/src/app/todos/todos.service.ts
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/core/src/index.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.module.puml
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.module.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/RxDBDataframe.tsx
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/useEditingState.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/useNullableRenderData.ts
Due: eslint --fix

fix: implement centralized state, fix rendering with query
  .vscode/settings.json
  package.json
  packages/streamlit-rxdb-dataframe/example.py
  packages/streamlit-rxdb-dataframe/pyproject.toml
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/__init__.py
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/assets/data/todo.schema.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js.map
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/public/assets/data/todo.schema.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/RxDBDataframe.tsx
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/useEditingState.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/vite.config.ts
Due: eslint --fix

fix: build with poetry
  .vscode/launch.json
  README.md
  packages/rxdb/README.md
  packages/streamlit-rxdb-dataframe/README.md
  packages/streamlit-rxdb-dataframe/example.py
  packages/streamlit-rxdb-dataframe/poetry.lock
  packages/streamlit-rxdb-dataframe/pyproject.toml
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/__init__.py
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/public/assets/data/col.dump.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/test___init__.py
  packages/streamlit-rxdb-dataframe/screencast.gif
  packages/streamlit-rxdb-dataframe/screenshot.png
  packages/streamlit-rxdb-dataframe/tests/test_rxdb_dataframe.py
Due: prettier --write

release(ngx-odm/rxdb): new version 6.0.0-dev.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

release(ngx-odm/rxdb): new version 6.0.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

release(ngx-odm/rxdb): new version 6.0.1
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

refactor(signals, with-collection-service): Update key names
  packages/rxdb/signals/src/with-collection-service.ts
Due: eslint --fix

chore: update .gitignore to exclude AI-related files
  .gitignore
Due: none

chore: upgrade to Angular/Nx 18
  migrations.json
  package-lock.json
  package.json
Due: none

chore: upgrade to Angular/Nx 19
  migrations.json
  package-lock.json
  package.json
  packages/rxdb/prepare/src/lib/prepare.plugin.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

chore: upgrade to Angular/Nx 20
  examples/demo/.eslintrc.json
  examples/demo/src/app/app.component.ts
  examples/demo/src/app/todos/todos.component.ts
  examples/demo/src/app/todos/todos.pipe.ts
  examples/standalone/.eslintrc.json
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/todos/todos.component.ts
  migrations.json
  package-lock.json
  package.json
  packages/rxdb/.eslintrc.json
  packages/rxdb/src/lib/rxdb.providers.ts
Due: eslint --fix

chore: upgrade to Angular/Nx 21
  examples/demo/project.json
  examples/demo/src/app/todos/todos.component.html
  examples/demo/tsconfig.app.json
  examples/standalone/project.json
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/tsconfig.app.json
  migrations.json
  nx.json
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/project.json
  packages/rxdb/tsconfig.lib.json
  packages/rxdb/tsconfig.lib.prod.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: migrate to ESLint 9 flat config
  .eslintignore
  .eslintrc.json
  eslint.config.js
  examples/demo/.eslintrc.json
  examples/demo/eslint.config.js
  examples/demo/project.json
  examples/standalone/.eslintrc.json
  examples/standalone/eslint.config.js
  examples/standalone/project.json
  package-lock.json
  package.json
  packages/rxdb/.eslintignore
  packages/rxdb/.eslintrc.json
  packages/rxdb/eslint.config.js
  packages/rxdb/project.json
Due: eslint --fix

fix: address Angular 21 breaking changes
  packages/rxdb/package.json
  tsconfig.base.json
Due: none

chore: complete Angular 21 upgrade (properly)
  examples/demo/src/main.ts
  examples/demo/tsconfig.json
  examples/demo/tsconfig.spec.json
  examples/standalone/src/main.ts
  examples/standalone/tsconfig.json
  examples/standalone/tsconfig.spec.json
  migrations.json
  package-lock.json
  package.json
  packages/rxdb/tsconfig.json
  packages/rxdb/tsconfig.lib.json
  packages/rxdb/tsconfig.spec.json
Due: eslint --fix

chore: upgrade Nx to v22, ESLint to v9, and fix linting config
  .claude/plans/2026-01-14-this-session-is-being-continued-from-a-previous-co.txt
  .claude/plans/recovery-plan.md
  .claude/plans/upgrade-plan.md
  .claude/settings.local.json
  .gitignore
  CLAUDE.md
  GEMINI.md
  UPDATE_GUIDE_ANGULAR.md
  eslint.config.js
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/collection/src/lib/helpers.ts
  packages/rxdb/config/src/lib/config.ts
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/core/src/lib/service.ts
  packages/rxdb/prepare/src/lib/prepare.plugin.spec.ts
  packages/rxdb/prepare/src/lib/prepare.plugin.ts
  packages/rxdb/query-params/src/query-params.plugin.spec.ts
  packages/rxdb/query-params/src/query-params.plugin.ts
  packages/rxdb/query-params/src/utils.spec.ts
  packages/rxdb/query-params/src/utils.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  packages/rxdb/replication-kinto/src/types.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/src/test-setup.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/testing/src/lib/stubs.ts
  packages/rxdb/utils/src/lib/utils.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: introduce agent docs and migrate to ESLint flat config
  .gemini/settings.json
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  eslint.config.mjs
  examples/demo/eslint.config.js
  examples/demo/eslint.config.mjs
  examples/standalone/eslint.config.js
  examples/standalone/eslint.config.mjs
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.ts
  opencode.json
  package-lock.json
  package.json
  packages/rxdb/eslint.config.js
  packages/rxdb/eslint.config.mjs
  packages/rxdb/signals/src/with-collection-service.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix: tests (f*cking LLMs couldn't fix them, no one, simply trash)
  .aiignore
  .claude/plans/2026-01-14-this-session-is-being-continued-from-a-previous-co.txt
  .claude/plans/recovery-plan.md
  .claude/plans/upgrade-plan.md
  .gitignore
  .vscode/launch.json
  eslint.config.js.old
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/collection/src/lib/helpers.spec.ts
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/core/src/lib/service.ts
  packages/rxdb/jest.config.cts
  packages/rxdb/jest.config.ts
  packages/rxdb/prepare/src/lib/prepare.plugin.spec.ts
  packages/rxdb/project.json
  packages/rxdb/query-params/src/query-params.plugin.spec.ts
  packages/rxdb/query-params/src/query-params.plugin.ts
  packages/rxdb/replication-kinto/src/helpers.spec.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.module.ts
  packages/rxdb/src/test-setup.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/tsconfig.json
  packages/rxdb/tsconfig.spec.json
  packages/rxdb/utils/src/lib/utils.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

test: fix final test
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/core/src/lib/service.ts
  packages/rxdb/tsconfig.spec.json
Due: eslint --fix

fix: finally fix example apps functionality after upgrade
  examples/demo/src/app/app.module.ts
  examples/demo/src/assets/data/todo.schema.json
  examples/shared/db-error-handler.ts
  examples/shared/index.ts
  examples/shared/todos.conflictHandler.ts
  examples/shared/todos.schema.ts
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/assets/data/todo.schema.json
  packages/rxdb/config/src/lib/config.ts
  packages/streamlit-rxdb-dataframe/README.md
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/assets/data/todo.schema.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/public/assets/data/todo.schema.json
Due: eslint --fix, prettier --write

fix(ci): update deprecated github actions
  .github/workflows/main.yaml
  .github/workflows/release.yaml
Due: none

test: fix tests - final
  .claude/settings.local.json
  .github/workflows/main.yaml
  .github/workflows/nx-release.yaml
  .github/workflows/release.yaml
  .nvmrc
  eslint.config.mjs
  examples/demo/project.json
  examples/demo/src/app/app.module.ts
  examples/demo/src/app/todos/todos.component.html
  examples/demo/src/app/todos/todos.service.ts
  examples/demo/src/main.ts
  examples/standalone/project.json
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/main.ts
  jest.preset.js
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.spec.ts
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/config/src/lib/config.ts
  packages/rxdb/core/src/lib/service.spec.ts
  packages/rxdb/jest.config.cts
  packages/rxdb/prepare/src/lib/prepare.plugin.spec.ts
  packages/rxdb/query-params/src/utils.spec.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/src/test-setup.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/utils/src/lib/utils.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/RxDBDataframe.tsx
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/lib/useEditingState.ts
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/src/main.tsx
Due: eslint --fix, prettier --write

chore: final clean-ups
  .claude/settings.local.json
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
  .vscode/launch.json
  .vscode/settings.json
  .zed/debug.json
  AGENTS.md
  NOTES.md
  README.md
  UPDATE_GUIDE_ANGULAR.md
  eslint.config.mjs
  examples/demo/eslint.config.mjs
  examples/demo/src/app/todos/todos.component.html
  examples/shared/todos.conflictHandler.ts
  examples/standalone/eslint.config.mjs
  opencode.json
  package-lock.json
  package.json
  packages/rxdb/README.md
  packages/rxdb/collection/src/lib/helpers.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/tsconfig.spec.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/.eslintignore
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/.eslintrc.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/eslint.config.mjs
  tools/scripts/publish-dev-builds.ts
  tools/scripts/publish-tagged-builds.ts
  tools/scripts/semantic-release.js
  tools/scripts/set-metadata.ts
  tools/scripts/utils.ts
Due: eslint --fix, prettier --write

fix(ci): release pipeline
  .github/workflows/release.yaml
Due: none

release(ngx-odm/rxdb): new version 7.0.0-dev.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

fix: handle async-in-constructor properly and tree-shake dev-mode from prod
  examples/demo/src/app/app.module.ts
  examples/standalone/project.json
  examples/standalone/src/app/app.config.ts
  packages/rxdb/collection/src/lib/collection.service.ts
Due: eslint --fix

fix(rxdb): resolve SignalStore type inference and zoneless CD issues
  .claude/settings.local.json
  NOTES.md
  examples/standalone/project.json
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  package.json
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  tools/gh-pages-publish.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js}
  prettier --write: any of: *.{html,css,scss,md,yml}
