Repository voznik/ngx-odm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "git add"],
  "*.{html,css,scss,md,yml}": ["prettier --write", "git add"]
}

test: fix broken after update/refactor
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/core/src/lib/rxdb.service.spec.ts
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/testing/src/lib/mocks.ts
Due: eslint --fix

fix: dependancies & env
  .env.example
  docker-compose.kinto.yml
  package-lock.json
  package.json
Due: prettier --write

fix: all lint errors
  .husky/pre-commit
  .husky/pre-push
  packages/rxdb/.eslintignore
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.ts
  packages/rxdb/replication-kinto/src/helpers.spec.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/replication-kinto.spec.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  packages/rxdb/src/lib/rxdb.module.spec.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/src/lib/rxdb.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

fix: lint & dependecies
  .eslintrc.json
  .prettierignore
  examples/demo/src/app/todos/todos.module.ts
  examples/demo/src/polyfills.ts
  examples/standalone/.eslintrc.json
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  package-lock.json
  package.json
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/replication-kinto/src/replication-kinto.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: original example with modules
  examples/demo/src/app/todos/components/todos/todos.component.html
  examples/demo/src/app/todos/components/todos/todos.component.ts
  examples/demo/src/app/todos/components/todos/todos.pipe.ts
  examples/demo/src/app/todos/services/todos.service.ts
  examples/standalone/src/app/todos/todos.component.html
Due: eslint --fix, prettier --write

fix: change detection works, remove all unnecessary
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/app.routes.ts
  examples/standalone/src/app/todos/todos.component.css
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  package.json
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/signals/src/with-collection-service.ts
Due: eslint --fix, prettier --write

fix: linting
  examples/demo/src/app/todos/components/todos/todos.component.html
  examples/demo/src/app/todos/models/todos.schema.ts
  examples/demo/src/app/todos/services/todos.service.ts
Due: eslint --fix, prettier --write

fix: affected in GH action
  .github/workflows/main.yaml
  nx.json
  package.json
Due: none

fix: remove dependency on process for demo, sonar comment
  examples/demo/src/environments/environment.prod.ts
  examples/demo/src/environments/environment.ts
  examples/demo/src/main.ts
  examples/demo/src/process.ts
  examples/standalone/src/environments/environment.prod.ts
  examples/standalone/src/environments/environment.ts
  examples/standalone/src/main.ts
  examples/standalone/src/process.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

test: add collection sync method coverage
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/testing/src/lib/mocks.ts
Due: eslint --fix

release(ngx-odm/rxdb): new version 5.0.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

docs: update README
  README.md
  examples/demo/src/app/todos/services/todos.service.ts
  package.json
  packages/rxdb/CHANGELOG.md
  packages/rxdb/README.md
  packages/rxdb/package.json
Due: eslint --fix, prettier --write

fix: improve change detection & fix multi-tabs demo example
  .github/workflows/main.yaml
  README.md
  examples/demo/src/app/todos/components/todos/todos.component.css
  examples/demo/src/app/todos/components/todos/todos.component.html
  examples/demo/src/app/todos/components/todos/todos.component.ts
  examples/demo/src/app/todos/components/todos/todos.pipe.ts
  examples/demo/src/app/todos/services/todos.service.ts
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  package-lock.json
  package.json
  packages/rxdb/README.md
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

chore: update deps & improve local docs
  examples/demo/src/app/todos/components/todos/todos.component.html
  examples/demo/src/app/todos/models/todos.model.ts
  examples/demo/src/app/todos/models/todos.schema.ts
  examples/demo/src/app/todos/services/todos.service.ts
  examples/demo/src/app/todos/todos.module.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.store.ts
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/package.json
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/utils/src/lib/utils.spec.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

fix: collection tests
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

docs: update Readme, simplify demo file structure
  README.md
  examples/demo/src/app/todos/models/index.ts
  examples/demo/src/app/todos/models/todos.schema.ts
  examples/demo/src/app/todos/services/index.ts
  examples/demo/src/app/todos/todos-routing.module.ts
  examples/demo/src/app/todos/todos.component.css
  examples/demo/src/app/todos/todos.component.html
  examples/demo/src/app/todos/todos.component.ts
  examples/demo/src/app/todos/todos.config.ts
  examples/demo/src/app/todos/todos.model.ts
  examples/demo/src/app/todos/todos.module.ts
  examples/demo/src/app/todos/todos.pipe.ts
  examples/demo/src/app/todos/todos.replication.ts
  examples/demo/src/app/todos/todos.service.ts
  examples/screencast.gif
  examples/standalone/src/app/todos/todos.store.ts
  packages/rxdb/README.md
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/package.json
  packages/rxdb/screencast.gif
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

fix: improve change detection & fix multi-tabs demo example (#56)
  .github/workflows/main.yaml
  README.md
  examples/demo/src/app/todos/components/todos/todos.component.css
  examples/demo/src/app/todos/models/index.ts
  examples/demo/src/app/todos/models/todos.model.ts
  examples/demo/src/app/todos/models/todos.schema.ts
  examples/demo/src/app/todos/services/index.ts
  examples/demo/src/app/todos/services/todos.service.ts
  examples/demo/src/app/todos/todos-routing.module.ts
  examples/demo/src/app/todos/todos.component.css
  examples/demo/src/app/todos/todos.component.html
  examples/demo/src/app/todos/todos.component.ts
  examples/demo/src/app/todos/todos.config.ts
  examples/demo/src/app/todos/todos.model.ts
  examples/demo/src/app/todos/todos.module.ts
  examples/demo/src/app/todos/todos.pipe.ts
  examples/demo/src/app/todos/todos.replication.ts
  examples/demo/src/app/todos/todos.service.ts
  examples/screencast.gif
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.store.ts
  package-lock.json
  package.json
  packages/rxdb/README.md
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/package.json
  packages/rxdb/screencast.gif
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/testing/src/lib/mocks.ts
  packages/rxdb/utils/src/lib/utils.spec.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

release(ngx-odm/rxdb): new version 5.1.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

test: add initial spec for `withCollectionService` tool
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
Due: eslint --fix

test: extend mock collection with initial data, test query result
  .eslintrc.json
  README.md
  examples/demo/src/app/todos/todos.component.css
  examples/standalone/src/app/todos/todos.component.css
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  package-lock.json
  package.json
  packages/rxdb/CHANGELOG.md
  packages/rxdb/README.md
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/testing/src/lib/mocks.ts
Due: eslint --fix, prettier --write

feat: refactor query-params as a plugin (WIP)
  examples/standalone/src/app/todos/todos.store.ts
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-plugin.loader.ts
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.ts
  packages/rxdb/core/src/lib/use-query-params.plugin.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix

feat: use-query-params - simplify
  examples/standalone/src/app/todos/todos.config.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/use-query-params.plugin.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
Due: eslint --fix

feat: query-params separate lib, improvements
  examples/demo/src/app/todos/todos.config.ts
  examples/demo/src/app/todos/todos.service.ts
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-plugin.loader.ts
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.ts
  packages/rxdb/core/src/lib/use-query-params.plugin.ts
  packages/rxdb/package.json
  packages/rxdb/query-params/README.md
  packages/rxdb/query-params/ng-package.json
  packages/rxdb/query-params/src/index.ts
  packages/rxdb/query-params/src/query-params.plugin.ts
  packages/rxdb/query-params/src/tokens.ts
  packages/rxdb/query-params/src/utils.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.module.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/utils/src/lib/utils.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

test: query-params utils
  packages/rxdb/jest.config.ts
  packages/rxdb/package.json
  packages/rxdb/query-params/src/query-params.plugin.ts
  packages/rxdb/query-params/src/utils.spec.ts
  packages/rxdb/query-params/src/utils.ts
  packages/rxdb/src/lib/rxdb.module.ts
  packages/rxdb/tsconfig.json
Due: eslint --fix

test: query-params tokens & plugin
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.spec.ts
  packages/rxdb/query-params/src/query-params.plugin.spec.ts
  packages/rxdb/query-params/src/query-params.plugin.ts
  packages/rxdb/query-params/src/tokens.spec.ts
Due: eslint --fix

feat: attachments example
  examples/demo/src/app/app.module.ts
  examples/demo/src/app/todos/todos.component.html
  examples/demo/src/app/todos/todos.component.ts
  examples/demo/src/app/todos/todos.model.ts
  examples/demo/src/app/todos/todos.service.ts
  examples/demo/src/assets/data/todo.schema.json
  examples/standalone/src/app/app.config.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb-plugin.loader.ts
  packages/rxdb/core/src/lib/rxdb.service.ts
  packages/rxdb/utils/src/lib/utils.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: attachments & sort examples
  examples/demo/src/app/todos/todos.component.css
  examples/demo/src/app/todos/todos.component.html
  examples/demo/src/app/todos/todos.model.ts
  examples/demo/src/app/todos/todos.pipe.ts
  examples/demo/src/app/todos/todos.service.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/core/src/lib/rxdb.service.ts
  packages/rxdb/package.json
  packages/rxdb/query-params/src/query-params.plugin.spec.ts
  packages/rxdb/utils/src/lib/utils.spec.ts
  packages/rxdb/utils/src/lib/utils.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: implement query params with signals, fix couchdb replication
  .env.example
  docker-compose.couch.yml
  examples/demo/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.store.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

feat: fix standalone zoneless sync with remote & change detection
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.store.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/utils/src/lib/utils.ts
Due: eslint --fix, prettier --write

test: fix col test
  examples/demo/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.store.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/replication-kinto/src/index.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
Due: eslint --fix

feat: extract common files to shared folder
  examples/demo/project.json
  examples/demo/src/app/todos/todos.component.ts
  examples/demo/src/app/todos/todos.config.ts
  examples/demo/src/app/todos/todos.module.ts
  examples/demo/src/app/todos/todos.pipe.ts
  examples/demo/src/app/todos/todos.service.ts
  examples/demo/src/index.html
  examples/demo/src/main.ts
  examples/demo/tsconfig.json
  examples/shared/environment.prod.ts
  examples/shared/environment.ts
  examples/shared/index.ts
  examples/shared/todos.animation.ts
  examples/shared/todos.config.ts
  examples/shared/todos.conflictHandler.ts
  examples/shared/todos.migration.ts
  examples/shared/todos.model.ts
  examples/shared/todos.replication.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.config.ts
  examples/standalone/src/app/todos/todos.model.ts
  examples/standalone/src/app/todos/todos.store.ts
  examples/standalone/src/environments/environment.prod.ts
  examples/standalone/src/environments/environment.ts
  examples/standalone/tsconfig.json
  package.json
  packages/rxdb/README.md
  packages/rxdb/screencast.gif
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: update rxdb dependnecy, config plugin demo
  README.md
  examples/demo/src/index.html
  examples/shared/todos.config.ts
  package-lock.json
  package.json
  packages/rxdb/package.json
Due: eslint --fix, prettier --write

feat: improve query-params collection object
  packages/rxdb/collection/src/lib/rxdb-collection.service.spec.ts
  packages/rxdb/collection/src/lib/rxdb-collection.service.ts
  packages/rxdb/config/src/lib/rxdb.config.ts
  packages/rxdb/query-params/src/query-params.plugin.spec.ts
  packages/rxdb/query-params/src/query-params.plugin.ts
Due: eslint --fix

fix: some clean-up after AI review
  packages/rxdb/core/src/lib/rxdb-prepare.plugin.ts
  packages/rxdb/core/src/lib/rxdb.service.ts
  packages/rxdb/replication-kinto/src/helpers.ts
  packages/rxdb/signals/src/with-collection-service.spec.ts
Due: eslint --fix

release(ngx-odm/rxdb): new version 5.2.0-dev.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write

chore: proper dist folder for npm release pipeline
  .github/workflows/release.yaml
Due: none

chore: proper dist folder for npm release pipeline
  .github/workflows/nx-release.yaml
  .github/workflows/release.yaml
  nx.json
  package-lock.json
  package.json
  packages/rxdb/CHANGELOG.md
Due: prettier --write
