Repository voznik/ngx-odm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, git add --ignore-errors --force

.lintstagedrc.json:

{
  "*.{ts,js,html}": ["eslint --fix", "git add"],
  "*.{css,scss,md,yml,json}": ["prettier --write", "git add --ignore-errors --force"]
}

chore: release workflow upgrade (migrate to nx)
  .actrc
  .github/workflows/RELASE_WORKFLOW_MIGRATION_SUMMARY.md
  .github/workflows/nx-release.yaml
  .github/workflows/release.yaml
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc
  .secrets.template
  RELEASE.md
  decorate-angular-cli.js
  eslint.config.js.old
  nx.json
  package-lock.json
  package.json
  packages/rxdb/project.json
  packages/rxdb/tsconfig.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js.map
Due: eslint --fix, prettier --write, git add --ignore-errors --force

fix: handle async-in-constructor properly, signalstore typescript fixes for standalone, tree-shake dev-mode from prod, improve "release" flow (#91)
  .actrc
  .claude/settings.local.json
  .github/workflows/RELASE_WORKFLOW_MIGRATION_SUMMARY.md
  .github/workflows/nx-release.yaml
  .github/workflows/release.yaml
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc
  .secrets.template
  NOTES.md
  RELEASE.md
  decorate-angular-cli.js
  eslint.config.js.old
  examples/demo/src/app/app.module.ts
  examples/standalone/project.json
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  nx.json
  package-lock.json
  package.json
  packages/rxdb/collection/src/lib/collection.service.ts
  packages/rxdb/project.json
  packages/rxdb/signals/src/with-collection-service.ts
  packages/rxdb/src/lib/rxdb.providers.ts
  packages/rxdb/tsconfig.json
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js
  packages/streamlit-rxdb-dataframe/rxdb_dataframe/frontend/build/index.js.map
  tools/gh-pages-publish.md
Due: eslint --fix, prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0-dev.1
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0-dev.2
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0-dev.3
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0-dev.4
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0-dev.5
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

fix(ci): release pipeline
  .github/workflows/release.yaml
Due: none

release(ngx-odm/rxdb): v7.0.0-dev.6
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

refactor(examples): remove zoneless workarounds for Angular 21
  examples/standalone/src/app/app.component.ts
  examples/standalone/src/app/app.config.ts
  examples/standalone/src/app/todos/todos.component.html
  examples/standalone/src/app/todos/todos.component.ts
  examples/standalone/src/app/todos/todos.store.ts
  examples/standalone/src/main.ts
Due: eslint --fix

release(ngx-odm/rxdb): v6.0.2
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force

release(ngx-odm/rxdb): v7.0.0
  packages/rxdb/CHANGELOG.md
  packages/rxdb/package.json
Due: prettier --write, git add --ignore-errors --force
